// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  background-color: #FFFFFF;
}

li {
  list-style: none;
}

.carte {
  margin: 10px;
  height: 300px;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 5px gray;
  background-color: #FFFFFF;
  border-radius: 8px;
}

.carte:hover {
  box-shadow: 5px 5px 15px gray;
}

a {
  text-decoration: none;
  color: black;
}

.carte-top {
  padding: 5px;
}

.carte-top-info {
  display: flex;
  justify-content: space-evenly;

}

.carte-btm {
  background-color: #F8F9FA;
  padding: 3px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.flat-image {
  background-image: url(https://images.unsplash.com/photo-1493809842364-78817add7ffb?w=1200);
  background-size: cover;
  background-position: center;
  flex-grow: 1;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.showbanner {
  background-size: cover;
  background-position: center;
  height: 30vh;
}

.show-card{
  margin-top: -40px;
}

.card-flat-title {
  background-color: #F8F9FA;
  padding: 10px;
  border-radius: 5px;
}

.card-flat-description {
  background-color: #F8F9FA;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;

}

.show-right-div{
  margin-top: -40px;
}

.book {
  background-color: #E4DFDA;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

.details {
  background-color: #E4DFDA;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

.share {
  background-color: #E4DFDA;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

.btn-primary {
  background-color: #408558;
  border: none;
  border-radius: 8px;
}

form {
  margin: 10px;
}

.show-btm-links{
  margin-top: 10px;
}
